@(error: String)

    @main("Readable code") {
        <nav class="light-blue lighten-1" role="navigation">
            <div class="container">
                <div class="nav-wrapper">
                    <a id="logo-container" href="#" class="brand-logo">Readable code</a>
                </div>
            </div>
        </nav>


        <div id="main" class="container">
            <div class="row center"><span class="red-text text-lighten-2">@error</span></div>
            <form action="/submit" method="POST">
                <div class="row">
                    <div class="input-field col s5">
                        <textarea class="materialize-textarea" name="snippet1" id="snippet1-textarea"></textarea>
                        <label for="snippet1-textarea">Enter snippet 1</label>
                    </div>
                    <div class="center valign-wrapper col s2"><h3 class="valign blue-text text-lighten-3"> Vs. </h3></div>
                    <div class="input-field col s5">
                        <textarea class="materialize-textarea" name="snippet2" id="snippet2-textarea"></textarea>
                        <label for="snippet2-textarea"l>Enter snippet 2</label>
                    </div>
                </div>

                <div class="row center">
                    <button class="btn waves-effect waves-light blue lighten-1">Submit</button>
                </div>
            </form>

        </div>
    }
