<!DOCTYPE html>
<html>
    <head>
        <title>Codethics</title>

        <meta charset="utf-8">
        <base href="/">

        <link rel="stylesheet" media="screen,projection" href="@routes.Assets.at("stylesheets/angular-material.min.css")">
        <link rel="stylesheet" media="screen,projection" href="@routes.Assets.at("stylesheets/main.css")">

        <link rel="stylesheet" media="screen,projection" href="@routes.Assets.at("stylesheets/hightlight-default.css")">
        <link rel="stylesheet" media="screen,projection" href="@routes.Assets.at("stylesheets/tomorrow-night-eighties.min.css")">

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <script>
        // path to js may vary, this way we will inject it in the application
        window.pathToApp = "/assets/javascripts/app/" ;
        </script>


        <script src="@routes.Assets.at("javascripts/vendor.js")"></script>

        <script src="@routes.Assets.at("javascripts/app/app.js")"></script>

        <script src="@routes.Assets.at("javascripts/app/common/constants.js")"></script>

        <script src="@routes.Assets.at("javascripts/app/modules/index/index.js")"></script>
        <script src="@routes.Assets.at("javascripts/app/modules/poll/poll.js")"></script>
        <script src="@routes.Assets.at("javascripts/app/modules/result/result.js")"></script>
    </head>
    <body ng-app="etcs" >
        <div class="container-main" layout-fill>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h3><span>Codethics</span></h3>
                </div>
            </md-toolbar>
            <md-content class="md-padding content" ui-view>

            </md-content>
        </div>
    </body>
</html>
