@(snippet1: String, snippet1Votes: Int, snippet2: String, snippet2Votes: Int)

@main("Poll") {
    <nav class="light-blue lighten-1" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
                <a id="logo-container" href="#" class="brand-logo">Readable code</a>
            </div>
        </div>
    </nav>


    <div id="main" class="container">
        <div class="row center"><span class="red-text text-lighten-2"></span></div>
        <form action="/submit" method="POST">
            <div class="row">
                <div class="input-field col s5">
                    <pre><code>@snippet1</code></pre>
                </div>
                <div class="center valign-wrapper col s2"><h3 class="valign blue-text text-lighten-3"> Vs. </h3></div>
                <div class="input-field col s5">
                    <pre><code>@snippet2</code></pre>
                </div>
            </div>

            <div class="row">
                <div class="center col s5">
                    Votes: @snippet1Votes
                </div>
                <div class="center col s5 offset-s2">
                    Votes: @snippet2Votes
                </div>
            </div>
        </form>

    </div>
}

